<!DOCTYPE hmtl>
<html>
  <head>
    <title>Mockapp</title>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <!-- navigation -->
    <% include partials/nav.ejs %>
    <!-- navigation -->
    <br><br><br>
    <div>
      <h3>Start</h3>
    </div>
  </body>
</html>
